/**
 * Marketplace Custom Styles
 *
 * Custom CSS for the marketplace module.
 * This file will be minified during the build process to marketplace.min.css
 * Only the minified version is shipped with composer/npm packages.
 */

/* Add your custom marketplace styles here */

body.one-com_page_onecom-marketplace{
  background: #F7F7F7;
}

.one-com_page_onecom-marketplace #wpcontent{
	padding: 0;
}

.gv-activated img.gv-icon-tile{
  width: 48px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(20, 20, 20, .15);
}

/* Product Banner Styles */
.gv-activated .marketplace-container .gv-product-header.gv-product-banner {
	display: flex;
  align-items:stretch;
	justify-content: space-between;
	background: var(--color-surface-toned);
	position: relative;
	overflow: hidden;
}

.gv-activated .marketplace-container .gv-product-header.gv-area-header{
  max-height: 456px;
}

.gv-product-banner .gv-left-banner img,
.gv-product-banner .gv-right-banner img {
	width: 100%;
	height: auto;
	display: block;
}

.gv-product-banner .gv-banner-content {
	flex: 1;
	text-align: center;
	padding: 0 1rem;
}

#marketplace-root .gv-activated{
  max-width:1440px;
  margin: auto;
}

.buttons-min-width{
  min-width:312px
}

#marketplace-root .gv-activated .gv-features-table.gv-product-table.gv-recommended-2 .gv-product:nth-child(2):before,
#marketplace-root.gv-activated .gv-features-table.gv-product-table.gv-recommended-2 .gv-cell:nth-child(2):before{
  width:auto;
}

/* Responsive styles for Product Banner */
@media (max-width: 1024px) {
	.gv-product-banner .gv-left-banner {
		display: none;
	}
}

@media (max-width: 600px) {
  .gv-activated .marketplace-container .gv-product-header.gv-product-banner {
  /*align-items: end;*/
    max-height: 320px;
  }
}
