# Copy this file to .npmrc and add your GitLab personal access token
# Registry configuration for private @group.one packages
@group.one:registry=https://gitlab.group.one/api/v4/packages/npm/
//gitlab.group.one/api/v4/packages/npm/:_authToken="${NPM_TOKEN}"
